* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Poppins;
  font-size: 15px;
}

.left{
  width: 25vw;
  padding: 10px;
}

.right{
  width: 75vw;
  min-height: 100vh;
}

.m-logo{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
ul{
  list-style-type: none;
}
.home ul li{
  display:flex;
  gap: 15px;
  list-style-type: none;
  font-weight: bold;
  padding:8px 8px;
}

.library ul li{
  display:flex;
  gap: 15px;
  list-style-type: none;
  padding: 15px;
}
.home, .library{
  width: 100%;
}
.library{
  min-height: 75vh;
  position: relative;

}
.heading{
  display:flex;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.footer{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-end;
  position: absolute;
  bottom: 15px;
  
}
.footer div a{
  color: rgb(219, 218, 218);
  text-decoration: none;
  font-size: 12px;
  padding: 8px;

}
.footer div a:hover{
  color: rgb(123, 231, 7);
  transition-duration: 0.5s;
}
.header {
  justify-content: space-between;
  padding: 20px;
  background-color: #212020;
  
  /* position: fixed;
  top: 0;
  left: 25vw; */
  
}
.header>*{
  padding:10px;
}

.hlinks {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}
.auth-buttons {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

button{
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  color:rgb(0, 0, 0);
  background-color: rgb(255, 253, 253);
  padding: 12px;
  border-radius: 30px;
  border: none;
}

button:hover{
  background-color: rgb(178, 178, 178);
  transition-duration: 0.5s;
  cursor: pointer;
}

.playlists{
  padding: 10px;

}

.card-container{
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}

.card{
  position: relative;
}

.playlists .card{
  border-radius: 8px;
  padding: 10px;

}
.card img{
  border-radius: 5px;
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.card p{
  font-weight: 300;
}

.card:hover{
  background-color: #242424;
  transition-duration: 0.3s;
  transform: scale(1.1);

}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #1fdf64;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  right: 20px;
  opacity: 0;
  transition: all 0.6s ease-out;
}
.play:hover{
  opacity:1;
  bottom: 75px;
}


