.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.bg-black{
  background-color: black;
  color: white;
}
.bg-grey{
  background-color: #1a1a1a;
}
.invert{
  filter: invert(0.9);
}
.round{
  border-radius: 7px;
}

.m1{
  margin: 5px;
}

.p1{
  padding: 10px;
}

.bold{
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background: #565656; 
  border-radius: 6px; 
  border: 3px solid #2c2c2c; 
}

::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a; 
}
